# Ollama API URL
OLLAMA_URL=http://localhost:11434/api/generate

# MLflow tracking server
MLFLOW_TRACKING_URI=http://localhost:5000

# Default LLM model
DEFAULT_MODEL=llama3.1:8b

# Enable system metrics (CPU, RAM) in MLflow
MLFLOW_ENABLE_SYSTEM_METRICS_LOGGING=true
